.hero{
	background-image: url("mount.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	flex-direction: column;

}
h1{
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.buttons {
	background-color: #372fd0;
	color:#2ec6d1 ;
	padding: 1rem;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 0.9rem;
}
.buttons:hover{
	background-color: #19165f;
}
#thing12 {
	margin: 5rem;
}
#thing {
	background-image: url("images/ocean.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	flex-direction: column;
}
.h12 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:teal ;
}
.y1{
padding: 2rem;
border-radius: 15%;
}
#x17 {
	align-items: center;
	background-color: #0d53f2;
}

#n13 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ad4800;
	border-radius: 20px;
	margin: 20px;
}
#n14 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4a00ad;
	border-radius: 20px;
	margin: 20px;
}
#n15 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #02ad4a;
	border-radius: 20px;
	margin: 20px;
}